{% extends 'registration/base.html' %} 
 {% load bootstrap3 %} {% load staticfiles %}{% block content %}
 <div class="reg-cont" style="margin-top:10%;margin-left:35%;">
     <div class="container ">
         <div class="row">

             <div class="col-md-5 col-sm-6 col-xs-6 col-lg-4 reg-container">
 
                 {% if form.errors %}
 
                 <!-- Add meaningful error message -->
 
                 {% endif %}
 
                 <div class="panel panel-default">
 
                     <div class="panel-heading">
 
                         <h3 class="text-center">
                             Sign In
                         </h3>
                     </div>
                     <div class="panel-body">
                        <form action="/accounts/login/" method="post">

                            {% csrf_token %}
                             {% bootstrap_form form %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Login">
                            </div>

                            <input type="hidden" name="next" value="">

                        </form>
              
                      </div>
 
                         <h4>
                             Don't have an account?
                             <a href="/accounts/register/">Sign Up</a>
                         </h4>
 
                     </div>
 
                 </div>
 
             </div>
         </div>
     </div>
 </div>
 {% endblock %}
 
    