
{% extends 'base.html' %}{% load bootstrap3 %} {% load staticfiles %} {% block content %}
<div class="col-sm-2">

</div>
<div class="col-sm-8">
  <div class="container">
    <form id="contact" action="" method="post">
      {%csrf_token%}
      <h3>Update Your Profile</h3>
      <p>
        {{form.title.label}}<br>{{form.title}}{{form.title.errors}}
      </p>
      <p>
        {{form.first_name.label}}<br>{{form.first_name}}{{form.first_name.errors}}
      </p>
      <p>
        {{form.last_name.label}}<br>{{form.last_name}}{{form.last_name.errors}}
      </p>
      <p>
        {{form.hospital.label}} <br>{{form.hospital}} {{form.hospital.errors}}
      </p>
      <p>
        {{form.phone_number.label}} <br>{{form.phone_number}} {{form.phone_number.errors}}
      </p>
      <p>
        {{form.email.label}}<br>{{form.email}}{{form.email.errors}}
      </p>
      <p>
        {{form.profile_photo.label}} <br>{{form.profile_photo}} {{form.profile_photo.errors}}
      </p>
      <p>
        <button name="submit" type="submit" id="contact-submit3" data-submit="...Sending">Update</button>
      </p>
    </form>
  </div>
</div>
<div class="col-sm-2">

</div>
{% endblock %}