{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if patients%}
      <h2>Found {{ patients|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
  {% if patients %}
    {% for patient in patients %}
      <div class="col-sm-3 col-md-4">
            <div class="profile-image"><img src="{{patient.profile_photo.url}}" alt="{{patient.name}}" /></div>
          <h1>first name: {{patient.first_name}}</h1>
          <h1>last_name: {{patient.last_name}}</h1>
          <h1>phone_number: {{patient.phone_number}}</h1>
          <h1>email: {{patient.email}}</h1>
          <h1>gender: {{patient.gender}}</h1>
          <h1>next_of_kin: {{patient.next_of_kin}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}